body {
    background: #7a84cf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

header {
    border-style: dotted;
    border-color: black;
    padding: 10px;
    width: fit-content;
}

input {
    background-color: #40e35e;
}

output {
    margin: 10%;
    font-size: 150%;
    font-weight: bold;
}

table {
    background-color: #e2ff4e;
    width: 70%;
    border-radius: 7%;
}

th, td {
    padding: 6px;
}

td {
    text-align: center;
}

textarea {

    margin-top: 1%;
    background-color: #e3a54e;
    width: 23%;
    height: 110px;
    border-radius: 2%;
}

div {
    margin: 10%;
    font-size: small;
}